/**{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30%;

}
.img_product1{
    align-items: flex-start;
    height: 200px;
}
article{
    align-items: flex-end;
    width: 30%;
}
/*.product1_descrp{}
.product_select{}
.precio{}*/