<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD:views/login.html
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/47f954a9fa.js" crossorigin="anonymous"></script>
    <style>
        a { text-decoration: none; 
            color: black;} 
        </style>
          <head>
            <link rel="icon" href="/img/usuario luna blanca.jpg">
            </head>
    <title>Login</title>
</head>
=======

<%- include('../partials/head') %>
 
>>>>>>> 940c675837bb33bf0ea0508659010e0ae4b37e3a:Grupo_12_MoonWalking/src/views/users/login.ejs
<body class="body_login">
    <main class="main_login">
        <img class="img_fondo" src="/img/fondo.jpeg" alt="">
        <div class="div_usuario-img">
        <img class="usuario_img"src="/img/usuario luna blanca.jpg" alt="login">
        </div>
        <form action="" class="form_login">
            <input type="email" name="email" placeholder="Dirección de email:">
            <input type="password" name="password" placeholder="Contraseña:">
            <div class="form_login--button">
            <button type="submit">INICIAR SESION</button>
            <p class="registrarse"><a href="./register">Registrarse</a></p>
             </div>
        </form>
    </main>
</body>
</html>