<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title : 'Login'}) %>
<body class="body_login">
    <main class="main_login">
        <img class="img_fondo" src="/img/fondo.jpeg" alt="">
        <div class="div_usuario-img">
        <img class="usuario_img"src="/img/usuario luna blanca.jpg" alt="login">
        </div>
        <form action="" class="form_login">
            <input type="email" name="email" placeholder="Dirección de email:">
            <input type="password" name="password" placeholder="Contraseña:">
            <div class="form_login--button">
            <button type="submit">INICIAR SESION</button>
            <p class="registrarse"><a href="./register">Registrarse</a></p>
             </div>
        </form>
    </main>
</body>
</html>