<footer>
    <img class="mobileimg" src="/img/fotofootercentrado.jpg" alt="Imagen del logo">
    <section class="datos">
        <div class="empresa">
            <h3>Empresa</h3>
            <p>Somos un pequeño grupo de emprendedores, el cual queremos implementar nuestro estilo único que te
                hara volar hasta la luna</p>
        </div>
        <div class="horarios">
            <h3>Horarios</h3>
            <p>LUNES A VIERNES<br>
                De 09:00hs hasta 18:00hs <br>
                SÁBADOS <br>
                De 10:00hs a 13:00hs</p>

            <h3>Contacto</h3>
            <p><i class="fa-brands fa-whatsapp"></i>  1123432253</p>
        </div>
    </section>
    <section class="copyright">
        <p>Copyright © 2022 MoonWalking todos los derechos reservado</p>
    </section>
</footer>