<header>
        
    <div class="barraenvios">
        <p>Envio gratis a todo el país - Cuotas sin interés</p>
    </div>

    <div class="encabezado">
     <div class="logo_burguer">   
        <div class="burger">
            <i class="fa-solid fa-bars"></i>
            
        </div>
    </div>
    <div class="container">
        <input class="input_buscador" type="text" placeholder="Buscar">
        <div class="btn">
            <i class="fa fa-search"></i>
        </div>
    </div>
        <div class="logo">
        <a href="/"><img class="Logo" src="/design/Logo.jpg" alt="logo" height="0"></a>
    </div>
    
    
        <div class="Buscador">
        <form class="form_buscador" action="">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
            <input type="text" placeholder="Buscador"/>               
           </form>
        </div>
        <div class="carrito">
            <a href="/user"><img src="/img/carrito.jpg" alt="" height="30"></a>
            <hr class="barra_hr">
            <a href="/login"> <img src="/img/usuario luna blanca.jpg" alt="" height="30"></a>
        </div>
    </div>
</header>