<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/detalle/detalle.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/cbbf860933.js" crossorigin="anonymous"></script>
    <title>Detalle</title>
</head>

<body>
    <header>
        <div class="barraenvios">
            <p>Envio gratis a todo el país - Cuotas sin interés</p>
        </div>
        <div>
            <div class="burger">
                <i class="fa-solid fa-bars"></i>
            </div>
            <img src="/design/Logo.jpg" alt="Logo" height="30">
            <div class="barrabusqueda">
                <form action=""><i class="fa-solid fa-magnifying-glass"></i></form>
            </div>
            <div class="cartYuser">
                <i class="fa-solid fa-cart-shopping"></i>
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
    </header>
    <main>
        <p>Ruta del producto</p>
        <section>
            <article>
                <img src="" alt="">
                <p>Nombre Articulo</p>
                <p>Detalle:</p>
                <p>Precio</p>
                <hr>
                <p>Talles</p>
                <p>Números de talles</p>
                <button>Agregar al carrito</button>
            </article>
        </section>
        <section>
            <p>Descripción</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore suscipit pariatur, soluta perspiciatis
                deserunt, quae, sint ut dolorem iste iusto exercitationem iure rem totam cumque necessitatibus unde
                nostrum animi asperiores?Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore suscipit
                pariatur, soluta perspiciatis
                deserunt, quae, sint ut dolorem iste iusto exercitationem iure rem totam cumque necessitatibus unde
                nostrum animi asperiores?</p>
            <button><i class="fa-solid fa-angle-down"></i></button>
            <hr>
            <p>Caracteristicas</p>
            <ul>
                <li>Material:</li>
                <li>Composición</li>
                <li>Garantía:</li>
                <li>Marca:</li>
            </ul>
        </section>
        <section>
            <p>También te puede gustar</p>
            <div>
                <p>Carrusel</p>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <div>
                <h3>Empresa</h3>
                <p>Somos un pequeño grupo de emprendedores, el cual queremos implementar nuestro estilo único que te
                    hara volar hasta la luna</p>
            </div>
            <div>
                <h3>Horarios</h3>
                <p>
                    De Lunes a Viernes
                    De 09:00hs hasta 18:00hs
                    Sábados
                    De 10:00hs a 13:00hs
                </p>
                <h3>Contactos</h3>
                <p><i class="fa-brands fa-whatsapp"></i> 1123432253</p>

            </div>
        </div>
        <div>
            <p>Copyright © 2022 MoonWalking todos los derechos reservado</p>
        </div>
    </footer>
</body>
</html>