<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/cbbf860933.js" crossorigin="anonymous"></script>
    <title>Detalle</title>
</head>

<body>
    <header>
        <div class="barraenvios">
            <p>Envio gratis a todo el país - Cuotas sin interés</p>
        </div>

        <div class="encabezado">
            <div class="logo_burguer">
                <div class="burger">
                    <i class="fa-solid fa-bars"></i>

                </div>
            </div>
            <div class="container">
                <input class="input_buscador" type="text" placeholder="Buscar">
                <div class="btn">
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <div class="logo">
                <img class="Logo" src="/design/Logo.jpg" alt="logo" height="0">
            </div>


            <div class="Buscador">
                <form class="form_buscador" action="">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" placeholder="Buscador" />
                </form>
            </div>
            <div class="carrito">
                <a href="/carrito"><img src="/img/carrito.jpg" alt="" height="30"></a>
                <hr class="barra_hr">
                <a href="/login"> <img src="/img/usuario luna blanca.jpg" alt="" height="30"></a>
            </div>
        </div>
    </header>
    <main class="mainDetalle">
        <p class="ruta">Ruta / del / producto</p>
        <section>
            <hr class="lineaSeparadora">
            <article class="foto">
                <div class="sect1">
                    <p class="nombreArt">ADIDAS ASTIR W</p>
                    <p class="detalle">123A5</p>
                    <p class="precio">$20.000</p>
                    <p class="cuotas">Hasta 6 cuotas sin interés</p>
                    <p class="cuotasDe">de $3.333</p>
                    <img class="imagenDetalle" src="\img\adidasAstir.jpeg"
                        alt="Unas zapatillas blancas con rosa, verde, violeta, celeste">
                </div>
            </article>
            <article>
                <div class="sect2">
                    <div class="talles">
                        <p>Talles : 35 - 36 - 37 - 38 - 39 - 40 - 41 - 42</p>
                    </div>
                    <button class="agregaCarrito" type="submit">Agregar al carrito</button>
                </div>
            </article>
        </section>
        <section class="info">
            <hr class="lineaSeparadora">
            <article class="descripcionpagoenvio">
                <ul class="ul">
                    <li> ◦Envío gratis</li>
                    <li> ◦Pagá hasta en 6 cuotas sin interés</li>
                </ul>
            </article>
            <hr class="lineaSeparadora">
            <article>
                <p class="descripcion">Descripción</p>
                <p class="descripcionDetallada">Detalles distintivos, proporciones más exageradas, las Zapatillas adidas
                    Astir W aseguran un andar
                    con estilo. Cuentan con una mediasuela con amortiguación dinámica y de estilo robusto. Además, una
                    característica importante es que el 25% de los componentes utilizados para fabricar este calzado
                    está hecho con, al menos, un 50% de contenido reciclado. ¡Subite, asegurá tu tendencia, y sumate al
                    mundo del reciclado y cuidado del planeta!</p>
                <button><i class="fa-solid fa-angle-down" id="ocultarTextoBtn"></i></button>
                <span class="hide" id="ocultarTexto"> 
                    <li>Material: Malla</li>
                    <li>Beneficios: Amor tiguación</li>
                    <li>Composición: Capellada: malla / Suela: caucho</li>
                    <li>Caña: Baja</li>
                    <li>Importante: Los talles corresponden a numeración de
                        Argentina</li>
                    <li>Garantía: Contra defecto de fabricación</li>
                    <li>Origen: Nacional</li>
                    <li>Marca: adidas</li>
                </span>
            </article>
        </section>
        <section class="carrucel">
            <p id="opciones">También te puede gustar</p>
            <div class="slaider-frame">
                <ul>
                    <li><img class="Img" src="/img/zapatillas/zapa 1.jpg" alt="">
                    <li><img class="Img" src="/img/zapatillas/zapa 2.jpg" alt="">
                    <li><img class="Img" src="/img/zapatillas/zapa 3.jpg" alt="">
                    <li><img class="Img" src="/img/zapatillas/zapa 4.jpg" alt="">
                    <li><img class="Img" src="/img/zapatillas/zapa 5.jpg" alt="">
                    <li><img class="Img" src="/img/zapatillas/zapa 6.jpg" alt="">

                </ul>
            </div>
        </section>
    </main>
    <footer>
        <img class="mobileimg" src="/img/fotofooter.jpg" alt="Imagen del logo">
        <section class="datos">
            <div class="empresa">
                <h3>Empresa</h3>
                <p>Somos un pequeño grupo de emprendedores, el cual queremos implementar nuestro estilo único que te
                    hara volar hasta la luna</p>
            </div>
            <div class="horarios">
                <h3>Horarios</h3>
                <p>LUNES A VIERNES<br>
                    De 09:00hs hasta 18:00hs <br>
                    SÁBADOS <br>
                    De 10:00hs a 13:00hs</p>

                <h3>Contacto</h3>
                <p><i class="fa-brands fa-whatsapp"></i> 1123432253</p>
            </div>
        </section>
        <section class="copyright">
            <p>Copyright © 2022 MoonWalking todos los derechos reservado</p>
        </section>
    </footer>
</body>

</html>