<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/63f06e08bb.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        
        <div class="barraenvios">
            <p>Envio gratis a todo el país - Cuotas sin interés</p>
        </div>
        <div class="encabezado">
        <div>
            <div class="burger">
                <i class="fa-solid fa-bars"></i>
            </div>
            <img src="/design/Logo.jpg" alt="Logo" height="30">
            <div class="barrabusqueda">
                <form action=""><i class="fa-solid fa-magnifying-glass"></i></form>
            </div>
            <div class="cartYuser">
                <i class="fa-solid fa-cart-shopping"></i>
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
    </div>
    </header>
</body>
</html>