<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/63f06e08bb.js" crossorigin="anonymous"></script>
    <style>
        a { text-decoration: none; 
            color: black;} 
        </style>
    <title>Home</title>
</head>
<body>
   
    <header>
        
        <div class="barraenvios">
            <p>Envio gratis a todo el país - Cuotas sin interés</p>
        </div>

        <div class="encabezado">
         <div class="logo_burguer">   
            <div class="burger">
                <i class="fa-solid fa-bars"></i>
                
            </div>
        </div>
        <div class="container">
            <input class="input_buscador" type="text" placeholder="Buscar">
            <div class="btn">
                <i class="fa fa-search"></i>
            </div>
        </div>
            <div class="logo">
            <img class="Logo" src="/design/Logo.jpg" alt="logo" height="0">
        </div>
        
        
            <div class="Buscador">
            <form class="form_buscador" action="">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" placeholder="Buscador"/>               
               </form>
            </div>
            <div class="carrito">
                <a href="/carrito"><img src="/img/carrito.jpg" alt="" height="30"></a>
                <hr class="barra_hr">
                <a href="/login"> <img src="/img/usuario luna blanca.jpg" alt="" height="30"></a>
            </div>
        </div>
    </header>
    <main>
        <section class="carrucel">
            <div class="slaider-frame">
                <ul>
                    <li><img class="Img" src="/img/zapatillas/zapa 1.jpg" alt=""> 
                    <li><img class="Img" src="/img/zapatillas/zapa 2.jpg" alt=""> 
                    <li><img class="Img" src="/img/zapatillas/zapa 3.jpg" alt=""> 
                    <li><img class="Img" src="/img/zapatillas/zapa 4.jpg" alt="">
                    <li><img class="Img" src="/img/zapatillas/zapa 5.jpg" alt=""> 
                    <li><img class="Img" src="/img/zapatillas/zapa 6.jpg" alt="">
                    <!-- para dektpot -->
                    <li><img class="Img" src="/img/urbano/zapa 1.jpg" alt="">  
                    <li><img class="Img" src="/img/urbano/zapa 2.jpg" alt="">     
                    <li><img class="Img" src="/img/urbano/zapa 3.jpg" alt="">   
                </ul>
            </div>
        </section>
    <section class="Deportivo">
        <h4>Deportivo</h4>
        <div class="imagenes_zapatillas">
    <div class="flechas_2">
    </div>
            <article><a href="/detalle"><img class="Img" src="/img/zapatillas/zapa 1.jpg" alt=""> <p class="texto_info">Adidas Astir W</p><p class="texto_info">$20.000</p></a></article>
            <article><a href="/detalle2"><img class="Img" src="/img/zapatillas/zapa 2.jpg" alt=""> <p class="texto_info">Adidas Multix</p><p class="texto_info">$16.999</p></a></article>
            <article><a href="/detalle3"><img class="Img" src="/img/zapatillas/zapa 3.jpg" alt=""> <p class="texto_info">Adidas Zx 1K Boost</p><p class="texto_info">$18.500</p></a></article>
     <div class="flechas_2">
        </div>
    </div>
    </section>
    <section class="carrucel_logos">
        <div class="slaider-frame">
            <ul>
                <li><img class="Img_logo" src="/img/marcas/logo_puma.jpg" alt=""></li>
                <li><img class="Img" src="/img/marcas/adidas a color.jpg" alt=""></li>
                <li><img class="Img" src="/img/marcas/logo_nike.jpg" alt=""></li>
                <li><img class="Img" src="/img/marcas/logo_convers.jpg" alt=""></li>
                <li><img class="Img" src="/img/marcas/rebook color.jpg" alt=""></li>
                <li><img class="Img" src="/img/marcas/logo_vans.jpg" alt=""></li>
                <li><img class="Img" src="/img/marcas/logo_armour.jpg" alt=""></li>
                <li><img class="Img" src="/img/marcas/logo_nb.jpg" alt=""></li>
                <li><img class="Img" src="/img/marcas/filacolor.jpg" alt=""></li>
                <li><img class="Img" src="/img/marcas/jordan air.jpg" alt=""></li>
            </ul>
        </div>
    </section>
    <section class="urbano">
        <h4 class="h4">Urbano</h4>
        <div class="imagenes_zapatillas">

            <article><img class="Img" src="/img/urbano/zapa 1.jpg" alt=""> <p class="texto_info">Nike Air Force 1 07 Lv8</p><p class="texto_info">$27.999</p></article>
            <article><img class="Img" src="/img/urbano/zapa 2.jpg" alt=""> <p class="texto_info">Converse Chuck</p><p class="texto_info">$14.850</p></article>
            <article><img class="Img" src="/img/urbano/zapa 3.jpg" alt=""> <p class="texto_info">Fila Rush</p><p class="texto_info">$16.000</p></article>
     
    </div>
    </section>
    <section class="productos">
        <h4 class="h4">Productos</h4>
        <div class="imagenes_zapatillas">
            
        <article><img class="Img" src="/img/zapatillas/zapa 10.jpg" alt=""> <p class="texto_info">Vans Sk8-Hi</p><p class="texto_info">$17.550</p></article>
        <article><img class="Img" src="/img/zapatillas/zapa 11.jpg" alt=""> <p class="texto_info">Puma Cali Star Wn S</p><p class="texto_info">$18.499</p></article>
        <article><img class="Img" src="/img/zapatillas/zapa 6.jpg" alt=""> <p class="texto_info">Vans Ultra Range</p><p class="texto_info">$24.000</p></article>
    </div>
        <div class="imagenes_zapatillas">
        <article><img class="Img" src="/img/zapatillas/zapa 8.jpg" alt=""> <p class="texto_info">Vans Safari Multi Era</p><p class="texto_info">$10.900</p></article>
        <article><img class="Img" src="/img/zapatillas/zapa jordan.jpg" alt=""> <p class="texto_info">Jordan Air 1 Mid Se</p><p class="texto_info">$34.999</p></article>
        <article><img class="Img" src="/img/zapatillas/zapa 4.jpg" alt=""> <p class="texto_info">Puma Mayze Women</p><p class="texto_info">$19.999</p></article>
    </div>
    <div class="imagenes_zapatillas">
        <article><img class="Img" src="/img/zapatillas/zapa 9.jpg" alt=""> <p class="texto_info">Reebok Classic Leather</p><p class="texto_info">$17.000</p></article>
        <article><img class="Img" src="/img/zapatillas/zapa 5.jpg" alt=""> <p class="texto_info">Topper Loli</p><p class="texto_info">$11.499</p></article>
        <article><img class="Img" src="/img/zapatillas/zapa 7.jpg" alt=""> <p class="texto_info">Puma Muse X-3 Metallic</p><p class="texto_info">$18.770</p></article>
    </div>


    </section>
    
    </main>
    <footer>
        <img class="mobileimg" src="/img/fotofooter.jpg" alt="Imagen del logo">
        <section class="datos">
            <div class="empresa">
                <h3>Empresa</h3>
                <p>Somos un pequeño grupo de emprendedores, el cual queremos implementar nuestro estilo único que te
                    hara volar hasta la luna</p>
            </div>
            <div class="horarios">
                <h3>Horarios</h3>
                <p>LUNES A VIERNES<br>
                    De 09:00hs hasta 18:00hs <br>
                    SÁBADOS <br>
                    De 10:00hs a 13:00hs</p>
    
                <h3>Contacto</h3>
                <p><i class="fa-brands fa-whatsapp"></i>  1123432253</p>
            </div>
        </section>
        <section class="copyright">
            <p>Copyright © 2022 MoonWalking todos los derechos reservado</p>
        </section>
    </footer>
</body>
</html>