<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/63f06e08bb.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <header>
        
        <div class="barraenvios">
            <p>Envio gratis a todo el país - Cuotas sin interés</p>
        </div>

        <div class="encabezado">
         <div class="logo_burguer">   
            <div class="burger">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
            <div class="logo">
            <img class="Logo" src="/design/Logo.jpg" alt="logo" height="0">
        </div>
        
            <!-- <div class="Buscador">
            <form class="form_buscador" action="">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" placeholder="Buscador"/>               
               </form>
            </div> -->
            <div class="carrito">
                <img src="/img/carrito.jpg" alt="" height="30">
                <hr>
                <img src="/img/usuario luna blanca.jpg" alt="" height="30">
            </div>
        </div>
    </header>
    <main>
        <div class="flechas">
        <div class="Flecha1_1er_carrucel">
        <i class="fa-solid fa-angle-left"></i>
    </div>
    <div class="Flecha2_1er_carrucel">
        <i class="fa-solid fa-angle-right"></i>
    </div>
</div>
    <section class="Deportivo">
        <h6>Deportivo</h6>
        <div class="imagenes_zapatillas">
    <div class="flechas_2">
        <div class="Flecha1_1er_carrucel">
         <i class="fa-solid fa-angle-left"></i>
    </div>
    </div>
            <article><img src="/img/zapa 1.jpg" alt=""> <p>Adidas Astir W</p><p>$20.000</p></article>
            <article><img src="/img/zapa 2.jpg" alt=""> <p>Adidas Multix</p><p>$16.999</p></article>
            <article><img src="/img/zapa 3.jpg" alt=""> <p>Adidas Zx 1K Boost</p><p>$18.500</p></article>
     <div class="flechas_2">
        <div class="Flecha2_1er_carrucel">
        <i class="fa-solid fa-angle-right"></i>
    </div>
        </div>

    </section>

    </main>
</body>
</html>