<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/47f954a9fa.js" crossorigin="anonymous"></script>
    <title>Registro</title>
</head>
<body>
    <header>
        <div class="barraenvios">
            <p>Envio gratis a todo el país - Cuotas sin interés</p>
        </div>
        <div class="encabezado">
            <div class="logo_burguer">   
               <div class="burger">
                   <i class="fa-solid fa-bars"></i>
               </div>
           </div>
               <div class="logo">
               <img class="Logo" src="/design/Logo.jpg" alt="logo" height="0">
           </div>


           
           <div class="carrito">
            <img src="/img/carrito.jpg" alt="" height="30">
            <hr>
            <img src="/img/usuario luna blanca.jpg" alt="" height="30">
        </div>
    </div>
    </header>
    <main>
        <h1>Registrarse</h1>
        <hr>
        <h3>Completa el Formulario</h3>
        <hr>
        <h4>Ingrese sus datos.</h4>
        <form action="" class="form_register">
            <input type="text" name="name" placeholder="Nombre">
            <input type="text" name="lastname" placeholder="Apellido">
            <input type="number" name="dni" placeholder="DNI">
            <input type="tel" name="tel" placeholder="Celular">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Contraseña">
            <input type="password" name="password2" placeholder="Repetir contraseña">
            <input class="input_calle" type="text" name="street" placeholder="Calle">
             <div class="form_input--number">
            <input type="number" name="number" placeholder="Número">
            <input type="number" name="flat" placeholder="Piso" >
            <input type="number" name="cp" placeholder="CP">
              </div>
              <div class="form_register--select">
            <select name="city" id="city">
                <option value="" hidden selected>Seleccione su provincia</option>
                <option value="">Buenos Aires</option>
                <option value="">Santa fe</option>
                <option value="">Neuquen</option>
                <option value="">Cordoba</option>
                <option value="">Mendoza</option>
            </select>
        </div>
            <div class="form_register--button">
            <button type="submit">Contiuar</button>
        </div>
        </form>
    </main>
    <footer>
        <img class="mobileimg" src="/img/fotofootercentrado.jpg" alt="Imagen del logo">
        <section class="datos">
            <div class="empresa">
                <h3>Empresa</h3>
                <p>Somos un pequeño grupo de emprendedores, el cual queremos implementar nuestro estilo único que te
                    hara volar hasta la luna</p>
            </div>
            <div class="horarios">
                <h3>Horarios</h3>
                <p>LUNES A VIERNES<br>
                    De 09:00hs hasta 18:00hs <br>
                    SÁBADOS <br>
                    De 10:00hs a 13:00hs</p>
    
                <h3>Contacto</h3>
                <p><i class="fa-brands fa-whatsapp"></i>  1123432253</p>
            </div>
        </section>
        <section class="copyright">
            <p>Copyright © 2022 MoonWalking todos los derechos reservado</p>
        </section>
    </footer>
</body>
</html>