<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/47f954a9fa.js" crossorigin="anonymous"></script>
    <title>Registro</title>
</head>
<body>
    <header>
        <div class="barraenvios">
            <p>Envio gratis a todo el país - Cuotas sin interés</p>
        </div>
        <div>
            <div class="burger">
                <i class="fa-solid fa-bars"></i>
            </div>
            <img src="/design/Logo.jpg" alt="Logo" height="30">
            <div class="barrabusqueda">
                <form action=""><i class="fa-solid fa-magnifying-glass"></i></form>
            </div>
            <div class="cartYuser">
          </div>
        </div>
    </header>
    <main>
        <h1>Registrarse</h1>
        <hr>
        <h3>Completa el Formulario</h3>
        <hr>
        <h4>Ingrese sus datos.</h4>
        <form action="">
            <input type="text" name="nombre">
            <input type="text" name="apellido">
            <input type="number" name="dni">
            <input type="tel" name="celular">
            <input type="email" name="email">
            <input type="password" name="contraseña">
            <input type="password" name="repetir contraseña">
            <input type="text" name="calle">
            <input type="number" name="numero">
            <input type="number" name="piso">
            <input type="number" name="cp">
            <select name="provincia" id=""></select>
        </form>
    </main>
    <footer>
        <div>
            <div>
                <h3>Empresa</h3>
                <p>Somos un pequeño grupo de emprendedores, el cual queremos implementar nuestro estilo único que te
                    hara volar hasta la luna</p>
            </div>
            <div>
                <h3>Horarios</h3>
                <p>
                    De Lunes a Viernes
                    De 09:00hs hasta 18:00hs
                    Sábados
                    De 10:00hs a 13:00hs
                </p>
                <h3>Contactos</h3>
                <p><i class="fa-brands fa-whatsapp"></i> 1123432253</p>

            </div>
        </div>
        <div>
            <p>Copyright © 2022 MoonWalking todos los derechos reservado</p>
        </div>
    </footer>
</body>
</html>