/* Header  */
.encabezado{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: var(--colorGrisOscuro);
 }
 .container{
    justify-content: flex-start;
    left: -37%;
    top: 4%;
    transform: translate(-3%, 15%);
    padding: 6px;
 }
 input{
    outline: none;
    box-sizing: border-box;
    height: 35px;
    width: 0;
    padding: 0 18px;
    color: #000;
    border-radius: 50px;
    font-size: 12px;
    border: 1px solid var(--colorGrisOscuro);
    transition: all .7s ease;
    text-align: center;
 }
 ::placeholder{
    color: grey;
 }
 .btn{
    position: absolute;
    left: 0;
    top: 0;
    width: 51px;
    height: 47px;
    background-color: var(--colorGrisOscuro);
    line-height: 40px;
    border-radius: 25%; 
    text-align: center;
    cursor: pointer;
    transition: .5s;
 }
 .btn i{
    font-size:23px ;
    color: white;
    line-height: 47px;
    transition: all .7s ease;
 }
 .container:hover input{
    width: 250px;
 }
 .container:hover i{
    transform:  rotate(-360deg);
 }
 .btn:hover{
    background: #bcbcbc;
 }


.burger{
    display: flex;
    align-items: center;
    width: 0%;
    padding: 6px;
    
}
.logo_burguer{
    display: flex;
    gap: 10px;
    text-shadow: 2px 2px 5px  black;
    cursor: pointer;
    list-style: none; 
}

.carrito{
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-right: 2%;
}
.carrito img{
   border-radius: 50%;
   width: 100%;
   height: 35px;
   
}
hr{
    width: 1px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-color:  black;
    border: none;
     }

.barraenvios{
    background-color: var(--colorGrisCasiBlanco);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    text-align: center;
}

.Logo{
    height: 90px;
}
.Buscador{
    display: flex;
    align-items: center;
    margin-right: 10%;
    display: flex;
    align-items: center;
    margin-right: 10%;
    width: 35%;
}
.Buscador button{
    text-align: start;
    border: none;
    background-color: #FFF;
    color: var(--colorGrisOscuro);
    transform: rotate(-267deg);
} 
.form_buscador{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    width: 100%;
    background-color: #FFF;
    height: 36px;
    border-radius: 6px;

} 
.Buscador input{
    border: none;
    text-align: center;
    width: 85%;
    outline: none;
    background-color: #FFF;
    
}


/* Main */
.flechas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
.Flecha1_1er_carrucel{
    flex-wrap: wrap;
    display:inline-block;
    justify-content:flex-start;
    
}
.Flecha2_1er_carrucel{
    flex-wrap: wrap;
    display: inline-block;
    justify-content: flex-end;
}
h4{
    margin: 8px;
    gap: 5%;
}
article p{
    font-family:'Inter', sans-serif;
    font-size: 10px;
    text-align: center;
}
section img{
    width: 100px;
    height: 100px;
    box-shadow: 5px 5px 8px gray;
}
.imagenes_zapatillas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flechas_2{
    padding-top: 12%;
}
/* Carrucel */
.carrucel{
    margin-top: 5px;
    padding: 0;
    font-family: lato;
}
.slaider-frame {
  width: 95%;
  margin: auto;
  overflow: hidden;
  
 
}
.slaider-frame img{
    width: 100px;
    height: 100%;
    box-shadow: 1px 1px 6px grey;
    
    
}
.p_carrucel{
    font-family:'Inter', sans-serif;
    font-size: 10px;
    align-items: flex-end;
  
}
.slaider-frame ul{
    display: flex;
    width: 300%;
    padding: 0;
    animation: cambio 20s infinite alternate; 
}
.slaider-frame li{
    background-color: rgb(230, 227, 227);
    width: 36%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.carrucel_logos img{
    width: 69%;
    height: 70%;
    
}
.carrucel_logos{
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
}
@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
}

/* Celular */
@media(max-width: 612px){
    .Buscador{
        display: none;
    }
    .productos{
        display: none;
    }
    .burger{
        display: none;
    }
}

/* Tablet */
@media (min-width: 768px){
   .Logo{
    margin-left: 50%;
    height: 120px;
   }
   .carrito img{
    width: 100%;
    height: 46px;
   }
   section img{
    width: 160px;
    height: 164px;
}
   }
   .slaider-frame img{
    width: 89px;
    height: 188%;
   }
   .urbano{
    display: none;
   }
   hr{
    height: 46px;
   }
   .container{
    display:none
   }
}
/* FOOTER */
footer{
    box-shadow: 0px 0px 5px #888, 0px -5px 5px #888;
    position: relative;
    margin: 0;
  }
  
  footer h3{
      font-size: small;
      color: red;
  }
  
  .mobileimg{
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 80%;
      opacity: 0.5;
      height: 100%;
      margin-left: 11%;
  }
  
  .datos{
    font-size: x-small;
    display: flex;
    flex-wrap: wrap;
    color: var(grisCasiNegro);
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
  }
  
  .empresa{
      width: 28%;
      /*text-align: left;*/
      padding-left: 5px;
      padding-top:2px;
  }
  
  .horarios{
      width: 30%;
      /*text-align: right;*/
      padding-right: 5px;
      padding-top: 2px;
  }
  
  .copyright{
      text-align: center;
      background-color: var(--colorGrisOscuro);
      font-size: x-small;
  }
  /* TABLET */
  @media (min-width:768px){
      .datos{
          line-height: 1.5;
          font-size: medium;
      }
      .mobileimg{
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 80%;
          opacity: 0.5;
          height: 100%;
          margin-left: 11%;
      } 
  
      footer h3{
          font-size: medium;
      }
  
      .empresa{
          width: 29%;
          /*text-align: left;*/
          padding: 20px 5px
      }
      
      .horarios{
          width: 32%;
          /*text-align: right;*/
          padding: 20px 5px
      }
  }
  
  /* DESKTOP*/
  @media (min-width:1024px){
      .datos{
          line-height: 1.5;
          font-size: medium;
      }
  
      .mobileimg{
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 50%;
          opacity: 0.5;
          height: 100%;
          margin-left: 25%;
      } 
  
      footer h3{
          font-size: medium;
      }
  
      .empresa{
          width: 22%;
          /*text-align: left;*/
          padding-left: 86px;
          padding-top:20px;
      }
      
      .horarios{
          width: 40%;
          /*text-align: right;*/
          padding-right: 5px;
          padding-top: 20px;
      }
  }

    