<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <main class="mainDetalle">
        <p class="ruta">Ruta / del / producto</p>
        <section>
            <hr class="lineaSeparadora">
            <article class="foto">
                <div class="sect1">
                    <p class="nombreArt">ADIDAS ASTIR W</p>
                    <p class="detalle">123A5</p>
                    <p class="precio">$20.000</p>
                    <p class="cuotas">Hasta 6 cuotas sin interés</p>
                    <p class="cuotasDe">de $3.333</p>
                    <img class="imagenDetalle" src="\img\adidasAstir.jpeg"
                        alt="Unas zapatillas blancas con rosa, verde, violeta, celeste">
                </div>
            </article>
            <article>
                <div class="sect2">
                    <div class="talles">
                        <p>Talles : 35 - 36 - 37 - 38 - 39 - 40 - 41 - 42</p>
                    </div>
                    <button class="agregaCarrito" type="submit">Agregar al carrito</button>
                </div>
            </article>
        </section>
        <section class="info">
            <hr class="lineaSeparadora">
            <article class="descripcionpagoenvio">
                <ul class="ul">
                    <li> ◦Envío gratis</li>
                    <li> ◦Pagá hasta en 6 cuotas sin interés</li>
                </ul>
            </article>
            <hr class="lineaSeparadora">
            <article>
                <p class="descripcion">Descripción</p>
                <p class="descripcionDetallada">Detalles distintivos, proporciones más exageradas, las Zapatillas adidas
                    Astir W aseguran un andar
                    con estilo. Cuentan con una mediasuela con amortiguación dinámica y de estilo robusto. Además, una
                    característica importante es que el 25% de los componentes utilizados para fabricar este calzado
                    está hecho con, al menos, un 50% de contenido reciclado. ¡Subite, asegurá tu tendencia, y sumate al
                    mundo del reciclado y cuidado del planeta!</p>
                <button><i class="fa-solid fa-angle-down" id="ocultarTextoBtn"></i></button>
                <span class="hide" id="ocultarTexto"> 
                    <li>Material: Malla</li>
                    <li>Beneficios: Amor tiguación</li>
                    <li>Composición: Capellada: malla / Suela: caucho</li>
                    <li>Caña: Baja</li>
                    <li>Importante: Los talles corresponden a numeración de
                        Argentina</li>
                    <li>Garantía: Contra defecto de fabricación</li>
                    <li>Origen: Nacional</li>
                    <li>Marca: adidas</li>
                </span>
            </article>
        </section>
        <section class="carrucel">
            <p id="opciones">También te puede gustar</p>
            <div class="slaider-frame">
                <ul>
                    <li><img class="Img" src="/img/zapatillas/zapa 1.jpg" alt="">
                    <li><img class="Img" src="/img/zapatillas/zapa 2.jpg" alt="">
                    <li><img class="Img" src="/img/zapatillas/zapa 3.jpg" alt="">
                    <li><img class="Img" src="/img/zapatillas/zapa 4.jpg" alt="">
                    <li><img class="Img" src="/img/zapatillas/zapa 5.jpg" alt="">
                    <li><img class="Img" src="/img/zapatillas/zapa 6.jpg" alt="">

                </ul>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>