<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head',{ title: 'Producto' }) %>

    <body>
        <%- include('../partials/header') %>

            <main>
                <article>
                    <div class="proximamente_logo"><img class="Img" src="/img/urbano/zapa 1.jpg" alt="">
                        <div>
                        </div>
                    </div>
                    <p class="texto_info">Nike Air Force 1 07 Lv8</p>
                    <p class="texto_info">$27.999</p>
                </article>
                <div>No hay productos para la búsqueda</div>

            </main>

    </body>

</html>