/* HEADER */
.container{
    justify-content: flex-start;
    left: -37%;
    top: 4%;
    transform: translate(-3%, 15%);
    padding: 6px;
 }
 .Eliminar-producto{
    background-color: #F08080;
    border: none;
    width: 100%;
    /*eight: 35px;*/
    padding: 10px;
    cursor: pointer;
    align-items: center;
    box-shadow: 0px 5px 5px #888, 0px 0px 5px #888;
    
}
 .input_buscador{
    outline: none;
    box-sizing: border-box;
    height: 35px;
    width: 0;
    padding: 0 18px;
    color: #000;
    border-radius: 50px;
    font-size: 12px;
    border: 1px solid var(--colorGrisOscuro);
    transition: all .7s ease;
    text-align: center;
 }
 ::placeholder{
    color: grey;
 }
 .btn{
    position: absolute;
    left: 0;
    top: 0;
    width: 51px;
    height: 47px;
    background-color: var(--colorGrisOscuro);
    line-height: 40px;
    border-radius: 25%; 
    text-align: center;
    cursor: pointer;
    transition: .5s;
 }
 .btn i{
    font-size:23px ;
    color: white;
    line-height: 47px;
    transition: all .7s ease;
 }
 .container:hover input{
    width: 250px;
 }
 .container:hover i{
    transform:  rotate(-360deg);
 }
 .btn:hover{
    background: #bcbcbc;
 }


/* MAIN */
.mainDetalle{
    align-items: center;
    font-size: small;
    justify-content: center;
}

.lineaSeparadora{
    color: rgba(0, 0, 0, 0.8);
    width: 80%;
    margin-left: 10%;
}

/*Seccion 1*/
.sect1{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.ruta{
    display: none;
}

.cuotas{
    display: none;
}
.cuotasDe{
    display: none;
}

.foto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*Esto es para que el nombre, el detalle y el precio se vean dentro de la imagen*/
    position: relative;
    margin: 20px;
    align-items: center;
    
}

.imagenDetalle {  /*article img*/
    align-items: center;
    width: 100%;
    
}
/*Dentro de la imagen*/
.nombreArt{
    position: absolute;
    padding-top: 15px;
    padding-left: 15px
}

.precio{
    position: absolute;
    padding-top: 45px;
    padding-left: 15px
}

.detalle{
    display: none;
}
/*Seccion 2*/
.sect2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}

.talles{
    width: 100%;
    margin-bottom: 5px;
   /*margin: 10px 0px;*/
     /*margin-top: 15px;*/
}

.agregaCarrito{
    background-color: var(--colorGrisClaro);
    border: none;
    /*eight: 35px;*/
    padding: 10px;
    align-items: center;
    box-shadow: 0px 5px 5px #888, 0px 0px 5px #888;
    align-self: center;
    cursor: pointer;;
    margin-bottom: 10px;
    padding-top: 10px;
}

.info{
    margin-left:5%;
    margin-right: 5%;
}
.descripcion{
    padding-left: 30px;
    padding-bottom: 10px;
}
.descripcionDetallada{
    display: none;    
}
.desplegable{
    display: none;
}
.carrousel{
    padding-left: 30px;
}
.descripcionpagoenvio{
    padding-top: 10px;
    padding-bottom: 10px;
}

.botonDescripcion{
    text-align: center;
}

/*.caracteristicas{
    padding: 0px 20px;
}*/
/*ul de caracteriscticas*/
.ul{
    /*padding: 10px 0px;*/
    list-style: none;
}

/* FOOTER */
footer{
  box-shadow: 0px 0px 5px #888, 0px -5px 5px #888;
  position: relative;
  margin: 0;
}

footer h3{
    font-size: small;
}

.mobileimg{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 80%;
    opacity: 0.5;
    height: 100%;
    margin-left: 11%;
}

.datos{
  font-size: x-small;
  display: flex;
  flex-wrap: wrap;
  color: var(grisCasiNegro);
  justify-content: space-between;
  text-align: center;
  margin-top: 3px;
  align-items: center;
}

.empresa{
    width: 28%;
    /*text-align: left;*/
    padding-left: 5px;
    padding-top:2px;
}

.horarios{
    width: 30%;
    /*text-align: right;*/
    padding-right: 5px;
    padding-top: 2px;
}

.copyright{
    text-align: center;
    background-color: var(--colorGrisOscuro);
    font-size: x-small;
}

/* TABLET */
@media (min-width:768px){
    /* MAIN */
    .nombreArt{
        font-size: larger;
        padding-top: 15px;
        padding-left: 15px
    }
    
    .precio{
        font-size:larger;
        padding-top: 10px;
        padding-left: 15px
    }
    
    .detalle{
        display: block;
        padding-top: 45px;
        padding-left: 15px;
        font-size:small;
    }
    .cuotas{
        display: none;
    }
    .cuotasDe{
        display: none;
    }
    .descripcionDetallada{
        display: none;    
    }
    .desplegable{
        display: none;
    }
    .sect1{
        width: 400px;
        height: 400px;
    }

    .info{
        margin-left:10%;
        margin-right: 10%;
        padding: 0px 40px;
    }

    .descripcion{
        padding: 5% 0;
    }

    .mainDetalle{
        font-size: medium;
    }

    .descripcionpagoenvio{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .sect2 {
        padding: 5% 0;
    }

    .talles{
        margin-bottom: 2%;
        margin-top: 4%;
    }
    /* FOOTER */
    .datos{
        line-height: 1.5;
        font-size: medium;
    }
    .mobileimg{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 80%;
        opacity: 0.5;
        height: 100%;
        margin-left: 11%;
    } 

    footer h3{
        font-size: medium;
    }

    .empresa{
        width: 29%;
        /*text-align: left;*/
        padding: 20px 5px
    }
    
    .horarios{
        width: 32%;
        /*text-align: right;*/
        padding: 20px 5px
    }
}

/* DESKTOP*/
@media (min-width:1024px){

    /* MAIN */
    
    .mainDetalle{
        font-size: medium;
        justify-content: space-evenly;
    }
    .lineaSeparadora{
        display: none;
    }
    .ruta{
        display: block;
        padding-left: 100px;
        padding-top: 10px;
    }
    .foto{
        flex-direction: row-reverse;
        position: unset;
    }
    .sect1{
        box-shadow: 0px 0px 0px rgb(255, 255, 255);
        width: 100%;
        height: auto;
    }

    .imagenDetalle{
        width: 40%;
        padding-left: 100px;
    }

    .sect2{
       padding: 0;
       height: 0;
    }
    .talles{
        position: absolute;
        right: -202px;
        top: 370px;
        font-size: large;
    }
    .agregaCarrito{
        width: 68px;
        /*position: absolute;*/
        right: 326px;
        top: 470px;
        /*margin: 0px;*/
    }
    .descripcionpagoenvio {
        display: none;
    }
    /* AL LADO DE LA IMAGEN */ 
    .nombreArt{
        position: absolute;
        padding-left: 50%;
        padding-top: 70px;
        font-size:x-large;
       }
    
    .detalle{
        position: absolute;
        padding-left: 50%;
        padding-top: 95px;
        display: block;
       }

    .precio{
        position: absolute;
        padding-left: 50%;
        padding-top: 145px;
        font-size:x-large;
       }
    
    .cuotas{
        position: absolute;
        padding-left: 50%;
        padding-top: 173px;
        display: block;
        font-size:larger;
       }

    .cuotasDe{
        position: absolute;
        padding-left: 50%;
        padding-top: 195px;
        display: block;
        font-size:x-small;
       }
    /* HASTA ACA*/
    .descripcionDetallada{
        display: block;
        
    }/*
    .hide{
        display: none;
        list-style: none;
        line-height: 1.5;
    }
    
    .show{
        display: block;
    }*/
    .descripcion{
        padding-bottom: 10px;
        font-size: large;
    }

    #opciones{
        margin-left: 13%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    /* FOOTER */
        .mobileimg{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 50%;
        opacity: 0.5;
        height: 90%;
        margin-left: 25%;
    } 

    .empresa{
        width: 21%;
        /*text-align: left;*/
        padding-left: 86px;
        padding-top:33px;
    }
    
    .horarios{
        width: 40%;
        margin:  0;
    }
}